.App{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*background-color: rgba(72,24,41,0.9);*/
}
.account-login{
  text-align: left;
}
#pass, #email{
  flex-direction: column;
  display: flex;
}
label{
  text-align: left;
}
.Account{
  justify-content:center;
  width:250px;
}
.create-account-form{
  display: flex;
  flex-wrap:wrap;
  text-align: left;
}
.user-email, .user-pass, .verify-pass, .license-plate{
  display: inline-block;
  width:250px;
}