.App{
  background-color: #E6E6E6;
}
.Login{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#title{
  font-family: 'Poppins';
  letter-spacing: 4px;
  color: #481829;
  opacity: 0.9;
  
}
.account-login{
  text-align: left;
}
#signup-btn{
  display: block;
  flex-direction: column;
  justify-content: center;
}
#pass, #email{
  flex-direction: column;
  display: flex;
}
label{
  text-align: left;
}
.create-account-btn{
  display: flex;
}
.Account{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.create-account-form{
  text-align: left;
  width: 250px;
}
.user-email, .user-pass, .verify-pass, .license-plate{
  display: inline-block;
  width:250px;
}
.ca-title{
  text-align: center;
}
.btns{
 text-align: center;
}
.Home{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Tickets{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Vehicles{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Settings{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}