.Login{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.account-login{
  text-align: left;
}
#pass, #email{
  flex-direction: column;
  display: flex;
}
label{
  text-align: left;
}
.create-account-btn{
  display: flex;
}
.Account{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.create-account-form{
  text-align: left;
  width: 250px;
}
.user-email, .user-pass, .verify-pass, .license-plate{
  display: inline-block;
  width:250px;
}
.ca-title{
  text-align: center;
}
.btns{
 text-align: center;
}
.Home{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Tickets{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Vehicles{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}